.footer{
    display: flex;
    color:white;
    
    justify-content: center;
   padding-left: 7rem;
   padding-right: 7rem;
   padding-top: 3rem;
   padding-bottom: 3rem;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important; 
}
footer{
    width: 100%;
    bottom: 0;
}
.coincap{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    color: rgb(223, 223, 245)
    
}
.item:hover{
    color: #FFFFFF;
}
.heads{
    margin-bottom: 0.6rem;
    margin-top: 1rem;
    font-size: 1em;
    font-weight: 500;
}
.display-sm{
    display: none;
}
@media(max-width:990px){
    #dis{
        display: none;
    }
    #diss{
        display: none;
    }
    .display-sm{
        display: block;
    }
}
img {
    opacity: 0.6;
}
img:hover{
opacity: 1;
}