.headings {
    display: flex;
    align-content: center;
    text-align: center;
    color: white;
}
.head{
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
    padding-top: 6.4rem;
    height: 250px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.block {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
@media(max-width:850px) {
    .block {
        flex-direction: column;
        justify-content: center;
    }
    .head{
        height: 300px;
    }
}